/aclocal.ac4
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1

.deps/
.dirstamp
.libs/
Makefile
Makefile.in

*.lo
*.la
